<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:改mapper.xml映射文件的唯一标识并且必须和数据处理层的接口的路径相同-->
<mapper namespace="com.myoffer.university.mapper.UniversityMapper">
    <!--   必须添加property属性 ，区别于是否加主键-->
    <resultMap id="university" type="com.myoffer.university.model.University">
        <id column="id" property="id"/>
        <result column="officialName" property="officialName" />
        <result column="alias" property="alias" />
        <result column="shortName" property="shortName" />
    </resultMap>
    <select id="queryAll" resultType="com.myoffer.university.model.University">
        select * from university
    </select>
</mapper>